html{
    background: linear-gradient(
    rgb(38, 93, 175) 1%,
    rgb(126, 185, 205) 30%,
    rgb(197, 214, 216) 75%
    );
    /* background: blue; */
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    /* border: 6px solid black; */
    height: 100%;
}
body{
    /*border: 2px solid black;*/
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
    /* background-color: #83caf8; */
    /* border: 2px solid lime; */
    margin: 50px auto;
}
table,td,th {
    border: 1px solid black;
    border-collapse: collapse;
}
/* PADDING AROUND TABLE */
main{
    display: flexbox;
    margin: 0 auto;
    width: fit-content;
    padding: 1px 20px 10px;
    background-color: #FAF9F6;
    border-radius: 10px;
}
/* TABLE */
table{
    display: flexbox;
    align-items:center;
    margin:auto; /*Must use marging for */
    background-color:  #FAF9F6;
    width: 450px;
    border-collapse: separate;
    border-spacing: 4px 8px;
}
/*Cell color*/
td, th{
    background-color: #d6dbdfad;
}
/*TABLE BORDERS*/
table, th, td{
    border-radius: 4px;
    border-color: #FAF9F6;
}
form{
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    width: fit-content;
    /* border: 2px solid seagreen; */
}
/* INPUTS */
.input_box{
    height: 25px;
    width: 358px;
    display: flex;
    /* justify-content: right; */
    border-radius: 15px;
    margin-right: 10px;
}
.add_task_button{
    border-radius: 15px;
}
.trash_icon, .edit_icon{
    width: 26px;
}
.actions_column{
    width: 70px;
}
.date_column{
    width: 80px;
}

