{% extends 'base.html' %}

{% block head %}
<title>To-Do List</title>
{% endblock %}

{% block body %}
<div class="content">
    {% if tasks|length < 1 %}
    <main>
        <h4>There are no tasks. Create one below!</h4>
        <form action="/" method="POST">
            <input class="input_box" type="text" name="content" id="content" placeholder="Add your first task...">
            <input class="add_task_button" type="submit" value="Add Task">
        </form>
    </main>
    {% else %}
    <main>
        <h2>To-Do List</h2>
        <form action="/" method="POST">
        <input class="input_box" type="text" name="content" id="content" placeholder="Add your task">
        <input class="add_task_button" type="submit" value="Add Task">
        </form>
        <table>
            <tr>
                <th>Task</th>
                <th class="date_column">Added</th>
                <th class="actions_column">Actions</th>
            </tr>
            {% for task in tasks%}

            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.strftime('%B %d, %Y %I:%M %p') }}</td>
                <td class="icon_display">
                    <a href="/update/{{task.id}}">
                        <img class="edit_icon" src="https://img.icons8.com/?size=100&id=tKvnEzfDG1hI&format=png&color=000000"></a><a href="/delete/{{task.id}}"><img class="trash_icon" src="https://img.icons8.com/?size=100&id=exEuV0xMCMYC&format=png&color=000000"></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
    {% endif %}
</div>
{% endblock %}
